[submodule "src/code.cloudfoundry.org/auction"]
	path = src/code.cloudfoundry.org/auction
	url = https://github.com/cloudfoundry/auction
	branch = main
[submodule "src/code.cloudfoundry.org/healthcheck"]
	path = src/code.cloudfoundry.org/healthcheck
	url = https://github.com/cloudfoundry/healthcheck
	branch = main
[submodule "src/code.cloudfoundry.org/inigo"]
	path = src/code.cloudfoundry.org/inigo
	url = https://github.com/cloudfoundry/inigo
	branch = main
[submodule "src/code.cloudfoundry.org/vizzini"]
	path = src/code.cloudfoundry.org/vizzini
	url = https://github.com/cloudfoundry/vizzini
	branch = main
[submodule "src/code.cloudfoundry.org/diego-ssh"]
	path = src/code.cloudfoundry.org/diego-ssh
	url = https://github.com/cloudfoundry/diego-ssh
	branch = main
[submodule "src/code.cloudfoundry.org/route-emitter"]
	path = src/code.cloudfoundry.org/route-emitter
	url = https://github.com/cloudfoundry/route-emitter
	branch = main
[submodule "src/code.cloudfoundry.org/cfdot"]
	path = src/code.cloudfoundry.org/cfdot
	url = https://github.com/cloudfoundry/cfdot
	branch = main
[submodule "src/code.cloudfoundry.org/garden"]
	path = src/garden
	url = https://github.com/cloudfoundry/garden
[submodule "src/code.cloudfoundry.org/routing-info"]
	path = src/code.cloudfoundry.org/routing-info
	url = https://github.com/cloudfoundry-incubator/routing-info
	branch = main
[submodule "src/code.cloudfoundry.org/guardian"]
	path = src/guardian
	url = https://github.com/cloudfoundry/guardian
[submodule "src/code.cloudfoundry.org/ecrhelper"]
	path = src/code.cloudfoundry.org/ecrhelper
	url = https://github.com/cloudfoundry/ecrhelper
	branch = main
[submodule "src/code.cloudfoundry.org/idmapper"]
	path = src/idmapper
	url = https://github.com/cloudfoundry/idmapper
[submodule "src/code.cloudfoundry.org/grootfs"]
	path = src/grootfs
	url = https://github.com/cloudfoundry/grootfs
[submodule "src/code.cloudfoundry.org/credhub-cli"]
	path = src/code.cloudfoundry.org/credhub-cli
	url = https://github.com/cloudfoundry-incubator/credhub-cli/
[submodule "src/garden"]
	path = src/garden
	url = https://github.com/cloudfoundry/garden
	branch = main
[submodule "src/guardian"]
	path = src/guardian
	url = https://github.com/cloudfoundry/guardian
	branch = main
[submodule "src/idmapper"]
	path = src/idmapper
	url = https://github.com/cloudfoundry/idmapper
	branch = main
[submodule "src/grootfs"]
	path = src/grootfs
	url = https://github.com/cloudfoundry/grootfs
	branch = main
[submodule "src/cnbapplifecycle"]
	path = src/cnbapplifecycle
	url = https://github.com/cloudfoundry/cnbapplifecycle
	branch = main
